.App {
  text-align: center;
  color: white;
}

.smurf-header-container {
  width: 90%;
  border-bottom: 1px solid dodgerblue;
  margin-left: 5%;
}

.smurfs-card-container {
  display: flex;
  width: 90%;
  margin-left: 5%;
  flex-wrap: wrap;
  padding-bottom: 1%;
  border-bottom: 1px solid dodgerblue;
}

.smurfs-card {
  width: 14%;
  text-align: left;
  padding-left: 10px;
  margin: 1.25%;
  border: 1px solid dodgerblue;
  color: white;
}

.smurf-images {
  width: 40%;
  text-align: right;
  margin-left: 60%;
}

.smurf-images img {
  padding-right: 10px;
  cursor: pointer;
}

.add-smurf {
  margin-top: 5%;
}

.add-smurf h2 {
  text-align: left;
  margin: 5%;
}

.form {
  display: flex;
  width: 25%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3%;
  padding-bottom: 1%;
  border-radius: 5px;
  border: 1px solid dodgerblue;
  margin-left: 5%;
  padding-left: 5px;
}
.label {
  width: 25%;
  text-align: left;
  margin-top: 5%;
}

.input {
  width: 75%;
  margin-top: 5%;
  height: 30px;
}

.Button {
  width: 50%;
  margin-top: 10%;
}

.Button button {
  width: 90%;
  height: 25px;
  border-radius: 5px;
  margin-left: 65%;
  background-color: palevioletred;
  font-size: 15px;
}

.details {
  width: 85%;
  margin-left: 5%;
  height: 25px;
}

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
